@model MailDemon.MailListRegistration

<!-- Subject: @Html.Raw(string.Format(MailDemon.Resources.SubjectWelcomeSubscription, Model.MailList.Title)) -->

<div>
    @Html.Raw(string.Format(MailDemon.Resources.BodyWelcomeSubscription, Model.MailList.Title, Model.UnsubscribeUrl))
</div>
