@model MailDemon.MailListRegistration

<!-- Subject: @Html.Raw(string.Format(MailDemon.Resources.SubjectConfirmSubscription, Model.MailList.Title)) -->

<div>
    @Html.Raw(string.Format(MailDemon.Resources.BodyConfirmSubscription, Model.MailList.Title, Model.SubscribeUrl))
</div>
