@model MailDemon.SubscribeModel

<h2>@Html.Encode(Model.Title)</h2>

@using (Html.BeginForm(FormMethod.Post, new { action = "/Subscribe/" + Model.ListName, id = "subscribeForm" }))
{
    @if (Model.Error)
    {
        <div class="error-message">@Html.Raw(Model.Message)</div><br />
    }
    else
    {
        <div>@Html.Raw(Model.Message)</div><br />
    }

    await Html.RenderPartialAsync(Model.TemplateName);

    @Html.HiddenFor(m => m.TemplateName)
    <br />
    <input type="submit" id="subscriptionSubmit" name="subscriptionSubmit" value="Subscribe" onclick="this.disabled = true; captchaSubmitForm(1); return false;" />
    <input type="hidden" id="captcha" name="captcha" value="" />

    await Html.RenderPartialAsync("Recaptcha", new { Action = "Subscribe", Form = "subscribeForm" });
}

