@model MailDemon.MailListRegistration

<h2>@string.Format(MailDemon.Resources.SubscribeText, Model.MailList.Title)</h2>

<p>@string.Format(MailDemon.Resources.SubscribeConfirm, Model.MailList.Title)</p>